#as_recipe_img{
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#la_rescimg{
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pe_rescimg{
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}